
            <div id="chatMessages" class="chat-messages bg-light p-3" style="height: 400px; overflow-y: scroll;">
                <!-- All messages will be displayed here -->
            </div>
            <div id="loadingSpinner" class="loading-spinner" style="display: none;">
                <img src="static\images\loading-4802_128.gif" alt="loading..." style="width: 20px; height: 20px;">
            </div>
            <div class="input-group mt-3">
                <textarea id="chatInput" placeholder="Type a message..." class="form-control chat-input"></textarea>
                <div class="input-group-append">
                    <button id="sendButton" onclick="sendMessage()" class="btn-warning mt-3 btn-send">
                        <img src="static/images/icons8-hexagon-synchronize.svg" title="Send" alt="Send Icon">
                    </button>
                </div>
            </div>


<script>
    function sendMessage() {
        var input = document.getElementById("chatInput");
        var message = input.value.trim();
        input.value = '';

        var sendButton = document.getElementById("sendButton");
        var loadingSpinner = document.getElementById("loadingSpinner");

        if (message === '') {
            return; // Don't send empty messages
        }

        // Show loading spinner and hide send button
        sendButton.style.display = 'none';
        loadingSpinner.style.display = 'block';

        // Collect response IDs to include in context
        var includedResponses = Array.from(document.getElementsByClassName('include-button-active')).map(btn => btn.getAttribute('data-response-id'));

        fetch('/send_message', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ message: message, included_responses: includedResponses })
        })
            .then(response => response.json())
            .then(data => {
                appendMessage("User", message);

                if (data && data.response) {
                    appendMessage("ChatBot", data.response, data.response_id);
                } else {
                    console.log("No valid response in data");
                }

                // Hide loading spinner and show send button
                sendButton.style.display = 'block';
                loadingSpinner.style.display = 'none';
            })
            .catch(error => {
                console.error('Error:', error);
                // Hide loading spinner and show send button even on error
                sendButton.style.display = 'block';
                loadingSpinner.style.display = 'none';
            });
    }

    function appendMessage(sender, text, responseId = null) {
        var chatMessages = document.getElementById("chatMessages");
        var messageContainer = document.createElement("div");
        messageContainer.className = sender === "User" ? "user-message-container" : "chatbot-message-container";

        var messageElement = document.createElement("div");
        messageElement.className = sender === "User" ? "user-message" : "chatbot-message";

        // Add the sender label
        var senderSpan = document.createElement("span");
        senderSpan.className = sender === "User" ? "user-label" : "chatbot-label";
        senderSpan.textContent = sender === "User" ? "You: " : "Chat";
        messageElement.appendChild(senderSpan);

        // Initialize an empty span for text content
        var textSpan = document.createElement("span");

        var codeBlockRegex = /```(.*?)\n([\s\S]*?)```/g;
        var match;
        var lastIndex = 0;
        var hasCodeBlock = false;

        function appendCodeBlock(title, codeSnippet) {
            var codeContainer = document.createElement("div");
            codeContainer.className = "code-container";

            var codeToolbar = document.createElement("div");
            codeToolbar.className = "code-toolbar";
            if (title) {
                var toolbarTitle = document.createElement("span");
                toolbarTitle.className = "code-toolbar-title";
                toolbarTitle.textContent = title;
                codeToolbar.appendChild(toolbarTitle);
            }

            var copyButton = document.createElement("button");
            copyButton.className = "copy-button";
            var img = document.createElement("img");
            img.src = "/static/images/icons8-external-link.svg";
            img.title = "Copy";
            copyButton.appendChild(img);
            copyButton.onclick = function () { copyToClipboard(codeSnippet); };
            codeToolbar.appendChild(copyButton);

            codeContainer.appendChild(codeToolbar);

            var codeBlock = document.createElement("textarea");
            codeBlock.className = "code-block";
            codeBlock.value = codeSnippet;
            codeBlock.readOnly = true;

            codeContainer.appendChild(codeBlock);

            messageElement.appendChild(codeContainer);
        }

        while ((match = codeBlockRegex.exec(text)) !== null) {
            hasCodeBlock = true;
            var normalText = text.substring(lastIndex, match.index);
            var title = match[1].trim();
            var codeSnippet = match[2];
            if (normalText) {
                textSpan.innerHTML += normalText; // Assuming content is sanitized HTML
            }
            appendCodeBlock(title, codeSnippet);
            lastIndex = codeBlockRegex.lastIndex;
        }

        if (hasCodeBlock && lastIndex < text.length) {
            var remainingText = text.substring(lastIndex);
            textSpan.innerHTML += remainingText;
        }

        if (!hasCodeBlock) {
            textSpan.innerHTML = text;
        }

        // Add the text content span to the message element
        messageElement.appendChild(textSpan);

        // Add the message element to the message container
        messageContainer.appendChild(messageElement);

        if (sender === "ChatBot" && responseId) {
            // Mark as Helpful Button
            var helpfulButton = document.createElement("button");
            helpfulButton.className = "btn btn-sm btn-outline-primary helpful-button";
            var helpfulImg = document.createElement("img");
            helpfulImg.src = "/static/images/icons8-checkmark.svg";
            helpfulImg.title = "Mark as a helpful response";
            helpfulButton.appendChild(helpfulImg);
            helpfulButton.onclick = function () {
                markResponseAsHelpful(responseId, this);
            };
            messageContainer.appendChild(helpfulButton);
            
            // Include in Next Response Button
            var includeButton = document.createElement("button");
            includeButton.className = "btn btn-sm btn-outline-primary include-button";
            includeButton.setAttribute('data-response-id', responseId);
            var includeImg = document.createElement("img");
            includeImg.src = "static/images/icons8-upload-to-the-cloud.svg"; 
            includeImg.title = "Include in next message";
            includeButton.appendChild(includeImg);
            includeButton.onclick = function () {
                includeResponseInContext(responseId, this);
            };
            messageContainer.appendChild(includeButton);
        }

        chatMessages.appendChild(messageContainer);
        chatMessages.scrollTop = chatMessages.scrollHeight;
    }

    function markResponseAsHelpful(responseId, buttonElement) {
        fetch('/mark_response_helpful', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ response_id: responseId })
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    buttonElement.classList.add('helpful-button-active');
                } else {
                    console.error('Error:', data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function includeResponseInContext(responseId, buttonElement) {
        fetch('/include_response_in_context', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ response_id: responseId })
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    buttonElement.classList.add('include-button-active');
                } else {
                    console.error('Error:', data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function copyToClipboard(codeSnippet) {
        var tempTextArea = document.createElement('textarea');
        tempTextArea.value = codeSnippet;
        document.body.appendChild(tempTextArea);
        tempTextArea.select();
        document.execCommand('copy');
        document.body.removeChild(tempTextArea);
    }
</script>