/* Root Color Scheme */
/*
:root {
    --text-color: #ffffff;
    --header-color: #202225;
    --background-color: #36393f;
    --button-color: #e8202b;
    --chat-label-color: #40444b;
}
*/

:root {
    --text-color: #F0EFEB;
    --header-color: #6890a7;
    --background-color: #1D3E53;
    --button-color: #476D7C;
    --chat-label-color: #ADD8E6;
}

::-webkit-scrollbar {
    display: none;
}

img {
    filter: invert(1);
    background: none;
}

.loading-spinner {
    filter: invert(1);
    display: flex;
    /* Add flex display */
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
}
/* General Styles */
body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Abolition', sans-serif;
    overflow-y: hidden;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--header-color);
}

/* Container and Layout Adjustments */

.row,
.custom-footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 97%;
    overflow: hidden;
    overflow-y: scroll;
}

.container
{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        height: 97%;
        overflow: hidden;
        overflow-y: scroll;
        justify-content: baseline;
        padding-top: 10px;
    }
    
/* Component Styling: Buttons */
.btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn img {
    width: 20px;
    height: 20px;
}



/* Responsiveness */
@media screen and (max-width: 600px) {

    .container,
    .row {
        overflow-y: auto;
    }

    .custom-footer {
        position: static;
    }
}

/* Scrollable Elements */
.scrollable-element,
.chat-container,
#chatMessages {
    background-color: var(--background-color) !important;
    max-height: 100%;
    overflow-y: auto;
    color: var(--text-color);
}

.code-block {
    background-color: var(--background-color);
    color: var(--text-color);
}

.user-message {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    margin: 5px;
}

.chatbot-message {
    background-color: var(--header-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

    .user-label {
        color: var(--chat-label-color);
        /* Replace with your actual variable or color */
        font-weight: bold;
    }

    .chatbot-label {
        color: var(--chat-label-color);
        /* Replace with your actual variable or color */
        font-weight: bold;
    }

.code-toolbar {
    background-color: var(--chat-label-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}


.code-block {
    height: auto;
    min-height: auto;
    max-height: 500px;
    overflow-y: auto;
    resize: vertical;
    overflow-y: auto;
    border-radius: 10px;
    border: var(--text-color);
}

.code-block::-webkit-scrollbar {
    display: block;
    /* or use 'auto' */
    width: 8px;
    /* or your desired width */
}

.code-block::-webkit-scrollbar-thumb {
    background-color: var(--button-color);
    /* your desired color */
    border-radius: 4px;
    /* optional, for rounded corners */
}

.code-block,
.code-toolbar {
    width: 100%;
}

.nav-item, .nav-link,
.input-group, .form-control,
.input-group, .form-control:focus {
    background-color: var(--background-color);
    color: var(--text-color);
}


a[data-toggle="tab"],
.nav-item:hover {
    color: var(--text-color);
    background-color: var(--button-color);
}



.nav-tabs {
    border-bottom: none;
    margin-bottom: 0;
    justify-content: space-between;
}


#sendButton,
.btn-primary,
.btn-info,
.btn-danger,
.btn-warning,
.btn-secondary,
.copy-button {
    background-color: var(--button-color);
    border-color: var(--button-color);
    color: var(--text-color);
}

.helpful-button,
.btn-signout,
.btn-signin,
.btn-send,
.copy-button,
.btn-register,
.btn-submitkey
 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    width: auto;
    height: 40px;
    border-radius: 50px;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-submitkey img,
.btn-register img,
.btn-signout img,
.btn-signin img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.helpful-button-active,
.helpful-button-active img {
    background-color: var(--background-color);
    /* e.g., #4CAF50 */
    color: var(--background-color);
    /* e.g., white */
    filter: grayscale(100%);
    /* Gray out the button */
    pointer-events: none;
    /* Prevents click events */
    cursor: not-allowed;
    /* Shows a 'not allowed' cursor */
}

.btn-send {
    margin-left: 5px;
}

.helpful-button img,
.btn-send img,
.copy-button img {
    width: 20px;
    height: 20px;
}

.input-group {
    margin-bottom: 10px;
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
    color: var(--text-color);
    opacity: 1;
}

/* Button Color Overrides */
.btn-warning img,
.btn-secondary img {
    filter: invert(1);
}

/* Footer */
.custom-footer {
    height: auto;
    text-align: center;
    position: relative;
    padding: 0;
    width: 100%;
    bottom: 0;
    border-top: var(--text-color);
}
