/* Root Color Scheme */
:root {
    --text-color: #F0EFEB;
    --header-color: #254B62;
    --background-color: #1D3E53;
    --button-color: #476D7C;
}

img {
    filter: invert(1);
    background: none;
}

/* General Styles */
body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Abolition', sans-serif;
    overflow: hidden;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--header-color);
}

/* Container and Layout Adjustments */
.container,
.row,
.custom-footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 97%;
    overflow: hidden;
    overflow-y: scroll;
}

/* Component Styling: Buttons */
.btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn img {
    width: 20px;
    height: 20px;
}


/* Responsiveness */
@media screen and (max-width: 600px) {

    .container,
    .row {
        overflow-y: auto;
    }

    .custom-footer {
        position: static;
    }
}

/* Scrollable Elements */
.scrollable-element,
.chat-container,
#chatMessages,
.code-block {
    background-color: var(--background-color) !important;
    max-height: 100%;
    overflow-y: auto;
    color: var(--text-color);
}


.code-toolbar {
    background-color: var(--header-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
}


.code-block {
    height: auto;
    min-height: 100px;
    max-height: 500px;
    overflow-y: auto;
    resize: vertical;

    overflow-y: auto;
}



.code-block,
.code-toolbar {
    width: 100%;
}

.nav-item, .nav-link,
.input-group, .form-control,
.input-group, .form-control:focus {
    background-color: var(--background-color);
    color: var(--text-color);
}

.nav-link:hover,
a[data-toggle="tab"],
.nav-item:hover {
    color: var(--text-color);
    background-color: var(--button-color);
}



.nav-tabs {
    border-bottom: none;
    margin-bottom: 0;
    justify-content: space-between;
}


#sendButton,
.btn-primary,
.btn-info,
.btn-danger,
.btn-warning,
.btn-secondary,
.copy-button {
    background-color: var(--button-color);
    border-color: var(--button-color);
    color: var(--text-color);
}

.btn-signout,
.btn-signin,
.btn-send,
.copy-button,
.btn-register
 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    width: auto;
    height: 40px;
    border-radius: 50px;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-register img,
.btn-signout img,
.btn-signin img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}


.btn-send {
    margin-left: 5px;
}


.btn-send img,
.copy-button img {
    width: 20px;
    height: 20px;
}

.input-group {
    margin-bottom: 10px;
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
    color: var(--text-color);
    opacity: 1;
}

/* Button Color Overrides */
.btn-warning img,
.btn-secondary img {
    filter: invert(1);
}

/* Footer */
.custom-footer {
    height: auto;
    text-align: center;
    position: relative;
    padding: 0;
    width: 100%;
    bottom: 0;
    border-top: var(--text-color);
}