:root {
    --text-color: #F0EFEB;
    --header-color: #6890a7;
    --background-color: #1D3E53;
    --button-color: #476D7C;
    --chat-label-color: #ADD8E6;
    --footer-height: 30px;
    --input-section-height: 60px;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: auto;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--button-color);
    border-radius: 10px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--header-color);
}

img {
    filter: invert(1);
    background: none;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    position: relative;
    background-color: var(--background-color) !important;
    color: var(--text-color);
    font-family: 'Abolition', sans-serif;
    overflow-x: hidden;
}

.container,
.info {
    overflow-y: scroll;
    padding-bottom: 15px;
}

#chatMessages {
    position: absolute;
    overflow-y: auto;
    width: 100%;
    left: 0;
    padding-bottom: 1rem;
    background-color: var(--background-color) !important;
}

#scrollToBottomBtn {
    position: absolute;
    bottom: calc(var(--footer-height) + var(--input-section-height) + 20px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
}

.loading-spinner {
    filter: invert(1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: calc(var(--footer-height) + var(--input-section-height) + 20px);
}

.input-group {
    position: absolute;
    bottom: 45px;
    left: 0;
    width: 100%;
    z-index: 1030;
    height: var(--input-section-height);
}

.row {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
}

.custom-footer {
    position: absolute;
    padding: 0;
    display: block;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    border-top: var(--text-color);
    z-index: 1020;
    text-align: center;
}



.btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn img {
    width: 20px;
    height: 20px;
}

.context-message {
    background-color: var(--header-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.code-block {
    background-color: var(--background-color);
    color: var(--text-color);
}

.code-block::-webkit-scrollbar {
    width: 5px;
}

.code-block::-webkit-scrollbar-thumb {
    background-color: var(--button-color);
    border-radius: 10px;
}

.user-message {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    margin: 5px;
}

.chatbot-message {
    background-color: var(--header-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-label {
    color: var(--chat-label-color);
    font-weight: bold;
}

.chatbot-label {
    color: var(--chat-label-color);
    font-weight: bold;
}

.code-toolbar {
    background-color: var(--button-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}


.code-block {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--header-color);
    border-radius: 10px;
    padding: 5px;
    font-family: 'Fira Code', monospace;
    overflow-y: auto;
    resize: vertical;
    resize: vertical;
    overflow: auto;
}

.code-block,
.code-toolbar {
    width: 100%;
}

.nav-item,
.nav-link,
.input-group,
.form-control,
.input-group,
.form-control:focus {
    background-color: var(--background-color);
    color: var(--text-color);
}

a[data-toggle="tab"],
.nav-link:hover {
    color: var(--text-color);
    background-color: var(--button-color);
}

.nav-tabs {
    border-bottom: none;
    margin-bottom: 0;
    justify-content: space-between;
    height: 5%;
}

#sendButton,
.btn-primary,
.btn-info,
.btn-danger,
.btn-warning,
.btn-secondary,
.copy-button {
    background-color: var(--button-color);
    border-color: var(--button-color);
    color: var(--text-color);
}

.helpful-button,
.btn-signout,
.btn-signin,
.btn-send,
.copy-button,
.btn-register,
.btn-submitkey {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    width: auto;
    height: 40px;
    border-radius: 50px;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-submitkey img,
.btn-register img,
.btn-signout img,
.btn-signin img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.helpful-button-active,
.helpful-button-active img {
    background-color: var(--background-color);
    color: var(--background-color);
    filter: grayscale(100%);
    pointer-events: none;
    cursor: not-allowed;
}

.btn-send {
    margin-left: 5px;
}

.helpful-button img,
.btn-send img,
.copy-button img {
    width: 20px;
    height: 20px;
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
    color: var(--text-color);
    opacity: 1;
}

.btn-warning img,
.btn-secondary img {
    filter: invert(1);
}