{% extends 'layout.html' %}

{% block content %}
<div class="delete-account-confirmation">
    <h2>Delete Account Confirmation</h2>
    <p>Are you sure you want to delete your account?</p>
    <form action="{{ url_for('confirm_delete_account') }}" method="post">
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name="confirm_delete" required>
            <label class="form-check-label" for="confirm_delete">
                Final Confirmation of Account Deletion
            </label>
        </div>
        <button type="submit" class="btn btn-danger"><img src="static\images\icons8-done.svg" alt="Confirm Delete Account" style="width: 20px; height: 20px;"></button>
    </form>
</div>


{% endblock %}