{% extends 'layout.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="user-info-tab" data-toggle="tab" href="#userInfo" role="tab"
                aria-controls="userInfo" aria-selected="true">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="chat-tab" data-toggle="tab" href="#chat" role="tab" aria-controls="chat"
                aria-selected="false">Chat</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="userInfo" role="tabpanel" aria-labelledby="user-info-tab">
            {% include 'partials/user_info.html' %}
        </div>
        <div class="tab-pane fade" id="chat" role="tabpanel" aria-labelledby="chat-tab">
            {% include 'partials/chat.html' %}
        </div>
    </div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tabs = document.querySelectorAll('.custom-nav-link');

        tabs.forEach(tab => {
            tab.addEventListener('click', function (event) {
                event.preventDefault();

                // Remove the active class and set aria-selected to false for all tabs
                tabs.forEach(t => {
                    t.classList.remove('active');
                    t.setAttribute('aria-selected', 'false');
                });

                // Add the active class and set aria-selected to true for the clicked tab
                this.classList.add('active');
                this.setAttribute('aria-selected', 'true');

                // Hide all tab panes
                const tabPanes = document.querySelectorAll('.custom-tab-pane');
                tabPanes.forEach(pane => {
                    pane.classList.remove('active', 'show');
                    pane.style.display = 'none';
                });

                // Show the clicked tab's content pane
                const targetPane = document.querySelector(this.getAttribute('href'));
                if (targetPane) {
                    targetPane.classList.add('active', 'show');
                    targetPane.style.display = 'block';
                }
            });
        });
    });

</script>


{% endblock %}