<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Remove if Bootstrap is no longer needed -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
</head>

<body>
    <header class="custom-header">
        <!-- Header content -->
    </header>
    <div class="main-content">

    <main class="custom-main">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert custom-alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}
        <!-- Default content (if any) -->
        {% endblock %}
    </main>
</div>
    <div class="custom-footer">
        <p>icons courtesy of <a href="https://icons8.com">Icons8</a></p>
    </footer>

    <!-- JavaScript files -->
    <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
</body>
</html>