<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Your App Name{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Existing CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">


    <!-- Existing Head Elements -->
    {% block head %}{% endblock %}
</head>

<body>
    <!-- Existing Navbar or Header -->
    {% block navbar %}{% endblock %}

    <!-- Main Content -->
    <div class="container">
        {% block content %}
        <!-- Your main content goes here -->
        {% endblock %}
    </div>
    <div class="custom-footer">
        <p>Icons by <a href="https://icons8.com" target="_blank">Icons8</a></p>
    </div>

    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>

</html>