{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-4">
            <div class="container mt-4">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" id="chat-tab" href="{{ url_for('register') }}" role="tab" data-toggle="tab"
                                            aria-controls="chat" aria-selected="false" onclick="redirectToRegister()">Create Account</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="chat-tab" href="{{ url_for('info') }}" role="tab" data-toggle="tab" aria-controls="chat"
                                            aria-selected="false" onclick="redirectToMoreInfo()">More Info</a>
                                    </li>
                                </ul>
                <h1>Usage limit on GPT-4 again?...</h1>
                <p>Sign up. Save your OpenAI api key. Get back to asking questions.</p>
            <form method="POST" action="" class="needs-validation" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label(class='form-label') }}
                    {{ form.username(class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class='form-label') }}
                    {{ form.password(class='form-control') }}
                </div>
                <div class="form-group">
                    <button type="submit" name="submit" class="btn-warning mt-3 btn-signin">
                        <img src="{{ url_for('static', filename='images/icons8-done.svg') }}" title="Log In" alt="Log In Icon" style="width: 20px; height: 20px;">
                        Sign In
                    </button>
                </div>
                </div>
            </form>
</div>
<script type="text/javascript">
    function redirectToRegister() {
        window.location.href = "{{ url_for('register') }}";
    }
    function redirectToMoreInfo() {
        window.location.href = "{{ url_for('info') }}";
    }    
</script>
{% endblock %}