{% extends 'layout.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container mt-4">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="chat-tab" href="{{ url_for('login') }}"" role=" tab" data-toggle="tab"
                                aria-controls="chat" aria-selected="false" onclick="redirectToLogin()">Return to Login</a>
                        </li>
                    </ul>
        <h1>Create Account</h1>
            <form method="POST" action="" class="needs-validation" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label(class='form-label') }}
                    {{ form.username(class='form-control', placeholder="Username") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class='form-label') }}
                    {{ form.email(class='form-control', placeholder="Email") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class='form-label') }}
                    {{ form.password(class='form-control', placeholder="Password") }}
                </div>
                <div class="form-group">

                    {{ form.confirm_password(class='form-control', placeholder="Confirm Password") }}
                </div>
                <div class="form-footer">            
                    <button type="submit" name="submit" class="btn btn-primary btn-register">
                                                <img src="{{ url_for('static', filename='images/icons8-upload-to-the-cloud.svg') }}" title="Register" alt="Register Icon"
                                                    style="width: 20px; height: 20px;">
                        Register
                    </button>
                </div>
            </form>
</div>
<script type="text/javascript">
    function redirectToLogin() {
        window.location.href = "{{ url_for('login') }}";
    }
</script>
{% endblock %}